<div class="container">
  <div class="row">
    <div class="col-4">
    <h1>Virtual Tamagotchi<h1>
  <input name="_method" type="hidden" value="delete">
  <form action="/feed" method="get">
  <input name="_method" type="hidden" value="delete">
      <button type="submit" name="Feed" id="feed" class="btn btn-primary" btn-lg btn-block">Feed Your Tamagotchi</button>
</form>
  <form action="/nap" method="get">
  <input name="_method" type="hidden" value="delete">
      <button type="submit" name="Nap" id="nap" class="btn btn-primary" btn-lg btn-block">Give Your Tamagotchi a Nap</button>
  </form>
    <form action="/play" method="get">
  <input name="_method" type="hidden" value="delete">
      <button type="submit" name="Play" id="play" class="btn btn-primary" btn-lg btn-block">Play With Your Tamagotchi</button>
    </form>
      <form action="/dayplus" method="get">
  <input name="_method" type="hidden" value="delete">
      <button type="submit" name="Jump" id="jump" class="btn btn-primary" btn-lg btn-block">Jump Forward a day</button>
      </form>
      </div>
      <h3 class='display-2'>Name your tamagotchi</h3><form class="form-inline">
        <form>
        <div class="form-group">
          <label for="">The name you chose</label>
          <input type="text" name="tamagotchiname" id="tamagotchiname" class="form-control" placeholder="" aria-describedby="helpId">
          <small id="helpId" class="text-muted">Write it here!</small><br>
          <button class="btn btn-primary" type='submit'>Set their name</button>
        </div>

      </form>
      <hr>
      <h2 class='display-2'>Your tamagotchi's name is:  <%= @name %></h2>
     
    </div>
</div>